.card {
    width: 70%;
    margin: 40px auto;
}

.container {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin:auto;
}

.title {
    display: flex;
    justify-content: space-between;

}

.text {
    color: black;
}

.add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    transition-duration: 0.4s;
    margin-top: 30px;
}

.btn5 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.delete {
    background-color: red;
}

.update {
    background-color: green;
}

.like {
    padding: 3px 10px;
    background-color: rgb(17, 193, 220);
    border: 1px solid black;
    border-radius: 10px;
}

.image {
    height: 350px;
}

@media screen and (max-width:400px) {
    .title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    .container {
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        gap: 10px;
    }
    .image {
        height: 270px;
    }
  }