.nav {
  color:white !important;
  font-size: 18px !important;
  font-family: system-ui;
}

.navBar {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  float: right;
}

.routs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
  
.logo-img {
  width: 90px;
}


.headerContainer {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  background-color:#212529 ;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  float: left;
  gap: 10px
}

.nav:hover  {

  color:rgb(255, 51, 51) !important; 
}

@media screen and (max-width:400px) {

  .headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
    align-items: center;
  }
  .routs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
  .navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
}