.nav{
  display: flex;
  gap: 15px;
  color:white !important;
  margin:5px !important;
  font-size: 20px !important;

}
.logo-img {
  width: 90px !important;
  margin:-11px !important;
}
.navbar .navbar-nav .nav:hover  {

  color:red !important; 
}

.nav1{
  display: flex;
  gap: 15px;
  color:black !important;
  margin:5px !important;
  font-size: 18px !important;

}