body {

    height: 100vh;

    place-items: center;
    font-family: Montserrat;
    color: #b3afbf;
}

.card11 {
    padding: 15px;
    width: 350px;
    background: #222;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    user-select: none;


    margin-left: auto;
    margin-right: auto;
    margin-top :20px;
    margin-bottom:5px !important 
}

.cover-photo {
    position: relative;
    background: url(https://i.imgur.com/jxyuizJ.jpeg);
    background-size: cover;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.profile {
    position: absolute;
    width: 100px;
    bottom: -60px;
    left: 15px;
    border-radius: 50%;
    border: 2px solid #222;
    background: #222;
    padding: 5px;
}

.profile-name {
    font-size: 20px;
    margin: 25px 0 0 120px;
    color: #fff;
}

.about {
    margin-top: 30px;
    line-height: 1.6;
}

.btn11 {
    margin: 30px 15px;
    background: #7ce3ff;
    padding: 10px 25px;
    border-radius: 3px;
    border: 1px solid #7ce3ff;
    font-weight: bold;
    font-family: Montserrat;
    cursor: pointer;
    color: #222;
    transition: 0.2s;
}

.btn11{
    background: transparent;
    border-color: #7ce3ff;
    color: #7ce3ff;
}

.btn11:hover {
    background: #7ce3ff;
    color: #222;
}