
.navContainer {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  padding: 15px 0;
}

.category {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.search {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.secondary-nav-link{
  color: black !important;
}

.secondary-nav-link:hover {

  color:white !important ; 
}

@media screen and (max-width:400px) {

  .navContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
    align-items: center;
  }
  .category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
}
